/* assignment 02 color palette: #FDFBEE,#57B4BA,#015551,#FE4F2D */

body{background-color:#FDFBEE;}

h1 {
    font-family: "Great Vibes", cursive;
    font-size: 50px;
    font-style: bold;
    color:#FE4F2D;
     
}

h2 {
     font-family:"Fraunces", serif;
     color:#015551;
     padding-top: 10px;

}

.hobbies {
    padding-top:30px;
    color:#015551;
    font-family:"Fraunces", serif;
}

p {
    font-family:"Fraunces", serif;
    color:#015551; 
}

li {
    font-family:"Fraunces", serif;
    color:#2d5429;
    padding-bottom: 30px;
}

div {
    color:whitesmoke;
    width:400px;
    height:400px;
    background-color:#FE4F2D;
    border:4px solid #57B4BA;
    padding:4px;
    margin:4px;
}